{% extends 'base.html' %}
{% block content %}
    <main>
        <div class='project-list'>
            <h1>My Projects</h1>
            <p>
                <a href="{% url 'create_project' %}">Create a new project</a>
            </p>
            {% if not project_list %}
                <p>"You are not assigned to any projects"</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th colspan='2'>Name</th>
                            <th colspan='2'>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in project_list %}
                            <td colspan='2'><a href="{% url 'show_project' project.pk %}">{{ project }}</a></td>
                            <td colspan='2'>{{ project.tasks.all | length }}</td>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}